

h1 {
  margin: 30px 0;
  font-family: "Sawarabi Mincho", sans-serif;
}

.top__items {
  margin-bottom: 20px;
}


body {
  font-family: sans-serif;
  background-color: rgb(250, 250, 250);
}



@media (max-width: 768px) 
{
  h1 {
    font-size: 30px;
  }
  .tab__invisible {
    display: none;
  }

  .tab__size {
    font-size: 30px;
  }

}

@media (max-width: 479px)
{
  h1 {
    font-size: 18px;
  }
  .phone__invisible {
    display: none;
  }
  .phone__size {
    font-size: 10px;
  }
  .pagination {
    font-size: 15px;
    a {
      padding: 5px;
    }
  }
}




