.boards__table {
  tr:hover {
    cursor: pointer;
  }
  border: dotted 2px lightskyblue;
}

.boards__linkBox {
  a {
    margin: 0 8px
  }
}

.board__listTitle {
  color: black;
}

.board__showBox {
  margin-bottom: 30px;
}

.boards__searchForm {
  display: inline-block;
}

.boards__select {
  display: inline-block;
  width: auto;
}



