.boards__table {
  tr:hover {
    cursor: pointer;
  }
  border: dotted 2px lightskyblue;
}

.boards__linkBox {
  a {
    margin: 0 8px
  }
}

.board__listTitle {
  color: black;
}



.boards__searchForm {
  display: inline-block;
}

.boards__select {
  display: inline-block;
  width: auto;
}

.check__cate {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.show__boardTitleImg {
  margin-right: 10px;
}

.board__showName {
  color: black;
}

.board__indexNew {
  position: relative;
  bottom: 2px;
}




