.bg__header {
  background-color: mediumaquamarine;
}

.header__title {
  font-family: "Sawarabi Mincho", sans-serif;
}

.search__submit {
  height: 37px;
}



.rotate-y1 h4{
  transition: transform 1s;
}
.rotate-y1 h4:hover{
  transform: scale(0.9, 0.9);
}



