.new__userLink {
  margin-top: 10px;
}

.trim-image-to-circle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
}

.image__input{
  
  width: 220px;
  height: 30px;
  margin-top: 10px;
  margin-left: 10px;
  border-radius: 5px;
  padding-top: 2px;

  text-decoration: none;
  text-align: center;
}

.image__form{
  display: none;
}

.user__pageEmptyMsg {
  margin-top: 20px;
  margin-bottom: 20px;
}






