<% provide(:title, 'カテゴリー一覧') %>

<div class="top__items">
  <h1>カテゴリー一覧</h1>
</div>

<%= render 'layouts/notice_message' %>

<% if !@categories.empty? %>
  <table class="table table-hover">
    <tbody>
      <% @categories.each do |cate| %>
        <tr>
          <td><%= link_to cate.name, boards_path(category_id: cate.id) %></td>
          <td><%= cate.created_at.to_s(:datetime_jp) %>作成</td>
          <td><%= link_to "削除", cate, class: "btn btn-outline-danger", method: :delete, data: { confirm: "削除してもよろしいですか？" } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>カテゴリーがありません</p>
<% end %>

